@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
}

.nav {
    position: fixed;
    width: 256px;
    display: flex;
    flex-direction: column;
    background-color: #593d27;
    padding: 24px;
    min-height: 100vh;
    z-index: 1;
}

.nav.active {
    width: 95px;
}

.nav.active .logo {
    font-size: 14px;
}

.nav.active .menu-btn i {
    transform: rotate(180deg);
}

.nav.active .menu-title {
    text-align: center;
}

.nav.active ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav.active .account-title ul li button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav.active ul li a .text {
    display: none;
}

.nav.active .account-title ul li button .text {
    display: none;
}

.nav .logo {
    font-size: 22px;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
}

.nav .menu-title {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bebebeb7;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.nav .nav-links {
    list-style: none;
}

.nav ul li a {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffffc2;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    transition: all 0.5s;
}

.nav ul li:hover a, 
.nav ul li.active a{
    color: #fff;
    background-color: #5f4430;
    margin-top: 5px;
}

.nav ul li i {
    font-size:  18px;
}

.nav .account-title ul {
    list-style: none;
    margin-top: 8px;
}

.nav .account-title {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bebebeb7;
    margin-top: auto;
    margin-bottom: 10px;
}

.nav.active .account-title p.title {
    text-align: center;
}

.nav.active a.logo {
    font-size: 12px;
    padding: 15px 2px;
    text-align: center;
}

.nav .account-title ul li button {
    background-color: #ffffff00;
    border: none;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffffc2;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    transition: all 0.5s;
    width: 100%;
    text-align: left;
}

.nav .account-title ul li:hover button {
    color: #fff;
    background-color: #5f4430;
    margin-top: 9px;
}

.nav .menu-btn {
    position: absolute;
    right: -18px;
    top: 3.8%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background-color: #593d27;
    border: 2px solid #5f4430;
}

.nav .menu-btn {
    cursor: pointer;
}

.nav .menu-btn:hover i {
    color: #8b6a51;
}

.nav .menu-btn i {
    transition: all 0.3s;
}

.section-user-profile {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    margin: 0 3rem 0 9rem;
}

.section-user-profile .header-user-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.section-user-profile .back-user-profile {
    display: block;
    position: relative;
    width: 100%;
    height: 11rem;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
}


.section-user-profile .picture-user-profile{
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #faf8eb;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    position: relative;
    bottom: -18px;
    left: calc(50% - 90px);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.section-user-profile .picture-user-profile .pictureProfile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}   

.section-user-profile .picture-user-profile input {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}  


.section-user-profile .body-user-profile {
    width: 90%;
    height: fit-content;
}

.section-user-profile .body-user-profile .input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    background-color: #faf8eb;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.section-user-profile .body-user-profile .input-box input {
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    border-radius: 20px;
    outline: none;
    background-color: #fff;
}



.section-user-profile .body-user-profile .input-box .user-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color:#2e2e2e;
    text-transform: uppercase;
    width: fit-content;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.section-user-profile .body-user-profile .input-box .biography {
    font-weight: 430;
    line-height: 18px;
    border: none;
    width: 100%;
    outline: none;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    border-radius: 20px;
    resize: none;
    padding: 10px 15px;
    text-align: center;
    background-color: #fff;
}

.section-user-profile .body-user-profile .input-box .biography::-webkit-scrollbar {
    width: 0;
}


.section-user-profile .body-user-profile .input-box .user-email {
    margin-top: 3rem;
    font-weight: 430;
    width: auto;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
}

.section-user-profile .body-user-profile .changepsswd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    background-color: #faf8eb;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.section-user-profile .body-user-profile .changepsswd-container .title-information {
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    text-shadow: 0 0 2px rgba(0,0,0, .2);
    margin-bottom: 3rem;
}

.section-user-profile .body-user-profile .changepsswd-container .info-container  {
    margin: 1.5rem 0;
}

.section-user-profile .body-user-profile .changepsswd-container .info-container .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin-bottom: 1.5rem;
}

.section-user-profile .body-user-profile .changepsswd-container .info-container .information label {
    font-weight: 550;
    text-transform: lowercase;
    color: #333;
    margin-bottom: 2px;
}

.section-user-profile .body-user-profile .changepsswd-container .info-container .information input {
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.section-user-profile .options-user-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.section-user-profile .options-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.section-user-profile .options-list li {
    padding: 5px;
}

.section-user-profile .options-list li button {
    border: none;
    padding: 10px 12px;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid #593d27;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #fff;
    color: #593d27;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ;
}

.section-user-profile .options-list li button a {
    text-decoration: none;
    color: #593d27;
    text-transform: uppercase;
    font-weight: 600;
}

.section-user-profile .options-list li button:hover {
    background-color: #5f4430;
    color: #ffffffc2;
}

.section-user-profile .options-list li button:hover a {
    color: #ffffffc2;
}

@media (max-width: 755px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .section-user-profile {
        margin: 0 0.4rem 0 6.5rem;
    }

    .section-user-profile .picture-user-profile{
        width: 150px;
        height: 150px;
        bottom: -60px;
        left: calc(50% - 75px);
    }

    .section-user-profile .body-user-profile .input-box {
        padding: 20px 20px;
        max-width: 500px;
    }

    .section-user-profile .body-user-profile .input-box .user-name {
        width: 330px;
        font-size: 18px;
    }

    .section-user-profile .body-user-profile .input-box .biography {
        font-size: 16px;
    }

    .section-user-profile .body-user-profile .input-box .user-email {
        font-size: 14px;
    }

    .section-user-profile .body-user-profile .changepsswd-container {
        padding: 20px 20px;
        max-width: 500px;

    }

    .section-user-profile .body-user-profile .changepsswd-container .title-information {
        font-size: 18px;
    }

    .section-user-profile .body-user-profile .changepsswd-container .info-container .information {
        width: 330px ;
    }

    .section-user-profile .options-list li button {
        padding: 3.5px 12px;
        font-size: 12px;
    }
}

@media screen and (max-width: 520px) {
    .section-user-profile .body-user-profile .changepsswd-container .info-container .information,
    .section-user-profile .body-user-profile .input-box .user-name {
        width: 300px ;
    }
}

@media screen and (max-width: 495px) {

    .section-user-profile {
        margin: 0 4px 0 6rem;
    }

    .nav {
        width: 175px;
    }

    .nav .logo {
        font-size: 12px;
    }

    .nav  .account-title p.title {
        font-size: 8px;
    }

    .nav .menu-title {
        font-size: 8px;
    }

    .nav ul li a i {
        font-size: 15px;
    }

    .nav .account-title ul li button i {
        font-size: 15px;
    }

    .nav ul li a .text,
    .nav .account-title ul li button .text {
        font-size: 12px;
    }

    .nav ul li a:hover i {
        border-radius: 80px;
    }

    .nav .menu-btn {
        position: absolute;
        right: -14px;
        top: 3.3%;
        width: 22px;
        height: 20px;
    }

    .nav .menu-btn i {
        font-size: 10px;
        font-weight: bold;
    }

    .nav.active {
        width: 70px;
        padding: 10px 2px;
        height: 100%;
    }

    .nav.active .account-title p.title {
        font-size: 8px;
    }

    .nav.active .menu-title {
        font-size: 8px;
    }

    .nav.active ul li a i {
        font-size: 15px;
    }

    .nav.active .account-title ul li button i {
        font-size: 15px;
    }

    .nav.active ul li a:hover i {
        border-radius: 80px;
    }

    .nav.active .menu-btn {
        position: absolute;
        right: -14px;
        top: 3.3%;
        width: 22px;
        height: 20px;
    }

    .nav.active .menu-btn i {
        font-size: 10px;
        font-weight: bold;
    }

    .section-user-profile .back-user-profile {
        height: 9rem;
    }

    .section-user-profile {
        margin: 0 1rem 0 5.9rem;
    }

    .section-user-profile .picture-user-profile{
        border: 4.5px solid #faf8eb;
        width: 120px;
        height: 120px;
        left: calc(50% - 58px);
    }

    .section-user-profile .body-user-profile .input-box .user-name {
        width: 200px;
        font-size: 14px;
    }

    .section-user-profile .body-user-profile .input-box .biography {
        font-size: 12px;
    }

    .section-user-profile .body-user-profile .input-box .user-email {
        width: 200px;
        font-size: 12px;
    }

    .section-user-profile .body-user-profile .input-box {
        max-width: 310px;
    }

    .section-user-profile .body-user-profile .changepsswd-container .info-container .information {
        width: 200px;
    }

    .section-user-profile .body-user-profile .changepsswd-container {
        max-width: 310px;

    }

    .section-user-profile .body-user-profile .changepsswd-container .title-information {
        font-size: 14px;
    }

    .section-user-profile .body-user-profile .changepsswd-container .info-container .information label,
    .section-user-profile .body-user-profile .changepsswd-container .info-container .information input {
        font-size: 12px;
    }

    .section-user-profile .options-list li button {
        padding: 3.5px 12px;
        font-size: 12px;
    }

}


@media screen and (max-width: 410px){
    .section-user-profile .options-list li button {
        padding: 2px 9px;
        font-size: 10px;
    }
}

