@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #FDF8F2;
  --line-clr: #fcd69c;
  --hover-clr: #FDF8F2;
  --text-clr: #6C6C6C;
  --accent-clr: #8B5E3C;
  --secondary-text-clr: #b0b3c1;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Traigo los cambios de la pagina de ailu*/

.encabezado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 50px 150px 50px 150px;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 100%;
  text-align: center;
  color: #A3B18A;
  width: 1000x;
}

.encabezado h1 p {
  text-shadow: 100% #6C6C6C;
}

.recipes-container-by-category {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px;
  margin: 50px;
  gap: 10px;
}

.recipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: white;
  border-radius: 20px;
  gap: 20px;
  height: 100%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff6ea;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 100%;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.recipe-card img {
  width: 100%;
  border-radius: 20px;
}

.recipes-container-by-category h2 {
  background-color: #ffffff;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  font-size: 130%;
  text-shadow: 50%;
  width: 250px;
}

#boton-ver-receta {
  background-color: #A3B18A;
  color: #fff6ea;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 100%;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* hasta aca */

#sidebar{
  box-sizing: border-box;
  height: 100%; /*aca iba 100vh, pero hay que mirar el video y ver como hacer para que los iconos se mantengan al moverse*/ 
  width: 250px;
  padding: 5px 1em;
  background-color: #F5E7D2;
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close{
  padding: 5px;
  width: 60px;
}
#sidebar ul{
  list-style: none;
}
#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}
#sidebar ul li.active a{
  color: var(--accent-clr);

  svg{
    fill: var(--accent-clr);
  }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: #A3B18A;
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
#sidebar svg{
  flex-shrink: 0;
  fill: #A3B18A;
}
#sidebar a span, #sidebar .dropdown-btn span{
  flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: var(--hover-clr);
}
#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div{
    overflow: hidden;
  }
}
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
.dropdown-btn svg{
  transition: 200ms ease;
}
.rotate svg:last-child{
  rotate: 180deg;
}
#sidebar .sub-menu a{
  padding-left: 2em;
}
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover{
  background-color: var(--hover-clr);
}

main{
  padding: min(30px, 7%) 10px;
}
main p{
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container{
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);
  margin-top: 30px;

  h2, p { margin-top: 1em }
}

@media(max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  main{
    padding: 2em 1em 60px 1em;
  }
  .container{
    border: none;
    padding: 0px;
    margin-top: 50px;
  }
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    top: unset;
    bottom: 0;

    > ul{
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li{
      height: 100%;
    }
    ul a, ul .dropdown-btn{
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span, ul li:first-child, .dropdown-btn svg:last-child{
      display: none;
    }

    ul li .sub-menu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
      a{
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

/* Estilo del botón flotante */
#floating-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--accent-clr); 
    color: var(--text-clr); 
    font-size: 36px; 
    border: none;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    line-height: 0.8; /* supuestamente esta cosa es para centar el max pero no quiere */
}

#floating-button:hover {
    background-color: var(--accent-clr); 
}
/* Estilo para el contenedor de búsqueda */
#search-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #b7b7b7;
    color: #6C6C6C;
  }
  
  #search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-left: 8px;
  }
  
  #search-btn svg {
    fill: var(--secondary-text-clr);
  }
.navegacion{
  display: flex;
  align-items: center;
}
.sign-in-sign-up{
  position: relative;
  left: 34%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.sign-in-sign-up button{
  background-color:#A3B18A;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover{
  background-color: #809261;
  transform: scale(1.05);
  
}
.sign-in-sign-up a{
  text-decoration: none;
}