@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.nav {
    width: 256px;
    display: flex;
    flex-direction: column;
    background-color: #593d27;
    padding: 24px;
}
.nav .logo {
    font-size: 22px;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
}

.nav .menu-title {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bebebeb7;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.nav .nav-links {
    list-style: none;
}

.nav ul li a {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffffc2;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.5s;
}

.nav ul li:hover a, 
.nav ul li.active a{
    color: #fff;
    background-color: #5f4430;
}

.nav ul li i {
    font-size:  18px;
}

.nav .account-title ul {
    list-style: none;
    margin-top: 8px;
}

.nav .account-title {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bebebeb7;
    margin-top: auto;
    margin-bottom: 10px;
}

.nav .account-title ul li button {
    background-color: #ffffff00;
    border: none;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffffc2;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.5s;
    width: 100%;
    text-align: left;
}

.nav .account-title ul li:hover button {
    color: #fff;
    background-color: #5f4430;
}

.section-user-profile {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-user-profile .header-user-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.section-user-profile .back-user-profile {
    display: block;
    position: relative;
    width: 100%;
    height: 14rem;
    background-image: url(img/profileback.png);
    background-size: cover;
    border-radius: 0 0 20px 20px;
}

.section-user-profile .picture-user-profile{
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2 ;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    position: absolute;
    bottom: -50px;
    left: calc(50% - 90px);
    z-index: 1;
    overflow: hidden;
}

.section-user-profile .picture-user-profile img {
    width: 100%;
    position: relative;
}

.section-user-profile .body-user-profile {
    width: 90%;
}

.section-user-profile .bio-user-profile {
    display: block;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    max-width: 70%;
    justify-content: center;
    margin: 0 auto;
}

.section-user-profile .bio-user-profile h3.user-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color:#2e2e2e;
    text-transform: uppercase;
}

.section-user-profile .bio-user-profile p.biography {
    margin-bottom: 1rem;
    font-weight: 430;
    line-height: 18px;
    padding: 0 25px;
}

.section-user-profile .bio-user-profile p.user-email {
    margin-top: 3rem;
    font-weight: 430;
}

.section-user-profile .options-user-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.section-user-profile .options-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-user-profile .options-list li {
    padding: 5px;
}

.section-user-profile .options-list li button {
    border: none;
    padding: 10px 12px;
    font-weight: 500;
    border-radius: 18px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #593d27;
    color: #ffffffc2;
    cursor: pointer;
    transition: all 0.5s ;
}

.section-user-profile .options-list li button a {
    text-decoration: none;
    color: #fff;
}

.section-user-profile .options-list li button:hover {
    background-color: #5f4430;
    color: #ffffffc2;
}

.section-user-profile .options-list li button:hover a {
    color: #ffffffc2;
}


