@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color:#A3B18A;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background-color:#593d27;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav, 
.nav .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav .nav-links a:hover {
    font-size: 17px;
    font-weight: 700 ;
}

.nav {
    justify-content: space-between;
}

.nav .logo {
    font-size: 22px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
}

.nav .nav-links {
    list-style: none;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 710px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear ;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color:#593d27;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

.container {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 5rem;
    border-radius: 20px;
    padding: 0;
    background-color: 
    #faf8eb;
}

.recipe-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #faf8eb;
}

.recipe-left .recipe-image {
    width: 100%;
}

.recipe-left  .ingredients-title {
    margin-top: 2rem;
    padding: 2rem 2rem;
    color: #333;
}

.recipe-left .ingredients-container {
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.recipe-left .ingredients-container li {
    text-wrap: wrap;
    font-size: 20px;
}

.recipe-right {
    display: flex;
    flex-direction: column;
}

.recipe-right .recipe-name {
    font-size: 70px;
    text-wrap: wrap;
    line-height: 1;
    text-transform: uppercase;
    color: #b24c2d;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 0 2rem ;
}

.recipe-right .recipe-description {
    color:#b24c2d;
    padding: 0 2rem;
    text-wrap: wrap;
}

.recipe-right  .instructions-title {
    padding: 1rem 2rem;
    color: #333;
    margin-top: 2.5rem;
}

.recipe-right .instructions-container {
    padding: 0 4rem;
    margin-bottom: 3rem;
}

.recipe-right .instructions-container li {
    list-style-type: decimal;
    text-wrap: wrap;
    padding-top: 5px;
    font-size: 20px;
}

@media screen and (max-width: 1160px){
    .nav {
        padding: 15px 50px;
    }
    .nav .search-box {
        right: 100px;
        max-width: 450px;
    }

    .container {
        margin: 9rem;
     }
}

@media screen and (max-width: 980px){
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color:#593d27;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        transition: all 0.4s ease;
    }

    .nav.openNav .nav-links {
        left: 0;
    }
    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .container {
        margin: 9rem 5rem;
    }
}

@media screen and (max-width: 835px){

    .recipe-right .more-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 4rem 0;
    }

    .icon-item img {
        width: 25px;
    }
    
    .icon-item .icon-name-info h3 {
        font-size: 9px;
    }
    
    .icon-item .icon-name-info p {
        font-size: 9px;
    }

    .recipe-right .recip-info .recipe-name {
        font-size: 60px;
    }
    
    .recipe-right .recip-info .recipe-description .description {
        line-height: 1.1;
        padding-right: 0;
    }
}

@media screen and (max-width: 770px){
    .container {
        margin: 6rem 3rem;
    }

    .recipe-right {
        padding: 2rem;
        padding-right: 0;
    }

    .recipe-right .recip-info .recipe-name {
        font-size: 40px;
    }
    
    .recipe-right .recip-info .recipe-description .description {
        font-size: 12px;
    }
    
    .recipe-right .recipe-instructions h1 {
        font-size: 20px;
    }
    
    .recipe-right .recipe-instructions .instructions {
        font-size: 10px;
        padding: 1rem;
    }
    
    .recipe-right .recipe-instructions .instructions li {
        padding-bottom: 0.5rem;
        text-wrap: wrap;
    }


    .recipe-left .recipe-ingredients {
        grid-area: ingredientes;
        padding: 3rem;
        padding-right: 0;
    }

    .recipe-left .recipe-ingredients h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .recipe-left .recipe-ingredients .ingredients {
        font-size: 10px;
    }

    .recipe-left .recipe-ingredients .ingredients li {
        padding-top: 0.3rem;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 680px){

    .container {
        margin: 5rem 1rem;
    }

    .recipe-right .recipe-instructions h1 {
        font-size: 15px;
    }
    
    .recipe-right .recipe-instructions .instructions {
        font-size: 10px;
        padding: 1rem;
    }
    
    .recipe-right .recipe-instructions .instructions li {
        padding-bottom: 0.5rem;
        text-wrap: wrap;
    }

    .recipe-left .recipe-ingredients {
        padding: 2.5rem;
    }

    .recipe-left .recipe-ingredients h1 {
        font-size: 15px;
    }
    
    .recipe-left .recipe-ingredients .ingredients {
        font-size: 10px;

    }
    
    .recipe-left .recipe-ingredients .ingredients li {
        text-wrap: wrap;
    }
}

@media screen and (max-width: 520px){
    .recipe-right .more-info {
        margin: 2.5rem 0;
    }

    .recipe-right .recip-info .recipe-name {
        font-size: 30px;
    }

    .recipe-right .recip-info .recipe-description .description {
        font-size: 10px;
    }

    .recipe-right .recipe-instructions .instructions {
        font-size: 9px;
        padding: 1rem;
    }

    .recipe-left .recipe-ingredients {
        grid-area: ingredientes;
        padding: 2rem;
    }
    
    .recipe-left .recipe-ingredients h1 {
        font-size: 12px;
        padding-bottom: 10px;
    }
    
    .recipe-left .recipe-ingredients .ingredients {
        font-size: 9px;
    }

}

@media screen and (max-width: 370px){
    .container{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }
}