@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
}

.nav {
    position: fixed;
    width: 256px;
    display: flex;
    flex-direction: column;
    background-color: #593d27;
    padding: 24px;
    min-height: 100vh;
    z-index: 1;
}

.nav.active {
    width: 95px;
}

.nav.active .logo {
    font-size: 14px;
}

.nav.active .menu-btn i {
    transform: rotate(180deg);
}

.nav.active .menu-title {
    text-align: center;
}

.nav.active ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav.active .account-title ul li button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav.active ul li a .text {
    display: none;
}

.nav.active .account-title ul li button .text {
    display: none;
}

.nav .logo {
    font-size: 22px;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
}

.nav .menu-title {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bebebeb7;
    margin-top: 2rem;
    margin-bottom: 10px;
}

.nav .nav-links {
    list-style: none;
}

.nav ul li a {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffffc2;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    transition: all 0.5s;
}

.nav ul li:hover a, 
.nav ul li.active a{
    color: #fff;
    background-color: #5f4430;
    margin-top: 5px;
}

.nav ul li i {
    font-size:  18px;
}

.nav .account-title ul {
    list-style: none;
    margin-top: 8px;
}

.nav .account-title {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #bebebeb7;
    margin-top: auto;
    margin-bottom: 10px;
}

.nav.active .account-title p.title {
    text-align: center;
}

.nav.active a.logo {
    font-size: 12px;
    padding: 15px 2px;
    text-align: center;
}

.nav .account-title ul li button {
    background-color: #ffffff00;
    border: none;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffffc2;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    transition: all 0.5s;
    width: 100%;
    text-align: left;
}

.nav .account-title ul li:hover button {
    color: #fff;
    background-color: #5f4430;
    margin-top: 9px;
}

.nav .menu-btn {
    position: absolute;
    right: -18px;
    top: 3.8%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background-color: #593d27;
    border: 2px solid #5f4430;
}

.nav .menu-btn {
    cursor: pointer;
}

.nav .menu-btn:hover i {
    color: #8b6a51;
}

.nav .menu-btn i {
    transition: all 0.3s;
}

.section-user-profile {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.section-user-profile .header-user-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.section-user-profile .back-user-profile {
    display: block;
    position: relative;
    width: 100%;
    height: 12rem;
    border-radius: 0 0 20px 20px;
}

.section-user-profile .picture-user-profile{
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #faf8eb;
    background-color: #DFE5F2 ;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0,0,0, .2);
    position: absolute;
    bottom: -38px;
    left: calc(50% - 90px);
    z-index: 1;
    overflow: hidden;
}

.section-user-profile .picture-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.section-user-profile .body-user-profile {
    width: 90%;
}

.section-user-profile .bio-user-profile {
    background-color: #faf8eb;
    display: block;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-radius: 15px;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.section-user-profile .bio-user-profile h3.user-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color:#2e2e2e;
    text-transform: uppercase;
}

.section-user-profile .bio-user-profile p.biography {
    margin-bottom: 1rem;
    font-weight: 430;
    line-height: 18px;
    padding: 0 25px;
}

.section-user-profile .bio-user-profile p.user-email {
    margin-top: 3rem;
    font-weight: 430;
}

.section-user-profile .options-user-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.section-user-profile .options-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-user-profile .options-list li {
    padding: 5px;
}

.section-user-profile .options-list li button {
    border: none;
    padding: 10px 12px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #ffffff;
    border: 2px solid #593d27;
    color: #593d27;
    cursor: pointer;
    transition: all 0.5s ;
    text-transform: uppercase;
}

.section-user-profile .options-list li button a {
    text-decoration: none;
    color: #593d27;
    font-weight: 600;
    text-transform: uppercase;
}

.section-user-profile .options-list li button:hover {
    background-color: #5f4430;
    color: #ffffffc2;
}

.section-user-profile .options-list li button:hover a {
    color: #ffffffc2;
}

@media (max-width: 755px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .section-user-profile {
        margin: 0 0.4rem 0 6.5rem;
    }

    .section-user-profile .bio-user-profile h3.user-name {
        font-size: 18px;
    }

    .section-user-profile .bio-user-profile p.biography {
        font-size: 16px;
    }

    .section-user-profile .bio-user-profile p.user-email {
        font-size: 14px;
    }

    .section-user-profile .bio-user-profile {
        padding: 1rem 1.3rem;
    }

    
    .section-user-profile .picture-user-profile{
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
    }

    .section-user-profile .options-list li button {
        padding: 3.5px 12px;
        font-size: 12px;
    }
    
}


@media screen and (max-width: 480px){

    .nav {
        width: 175px;
    }

    .nav .logo {
        font-size: 12px;
    }

    .nav  .account-title p.title {
        font-size: 8px;
    }

    .nav .menu-title {
        font-size: 8px;
    }

    .nav ul li a i {
        font-size: 15px;
    }

    .nav .account-title ul li button i {
        font-size: 15px;
    }

    .nav ul li a .text,
    .nav .account-title ul li button .text {
        font-size: 12px;
    }

    .nav ul li a:hover i {
        border-radius: 80px;
    }

    .nav .menu-btn {
        position: absolute;
        right: -14px;
        top: 3.3%;
        width: 22px;
        height: 20px;
    }

    .nav .menu-btn i {
        font-size: 10px;
        font-weight: bold;
    }

    .nav.active {
        width: 70px;
        padding: 10px 2px;
        height: 100%;
    }

    .nav.active .account-title p.title {
        font-size: 8px;
    }

    .nav.active .menu-title {
        font-size: 8px;
    }

    .nav.active ul li a i {
        font-size: 15px;
    }

    .nav.active .account-title ul li button i {
        font-size: 15px;
    }

    .nav.active ul li a:hover i {
        border-radius: 80px;
    }

    .nav.active .menu-btn {
        position: absolute;
        right: -14px;
        top: 3.3%;
        width: 22px;
        height: 20px;
    }

    .nav.active .menu-btn i {
        font-size: 10px;
        font-weight: bold;
    }


    .section-user-profile .back-user-profile {
        height: 10rem;
    }

    .section-user-profile {
        margin: 0 1rem 0 5.9rem;
    }

    .section-user-profile .picture-user-profile{
        border: 4.5px solid #faf8eb;
    }

    .section-user-profile .bio-user-profile h3.user-name {
        font-size: 14px;
    }

    .section-user-profile .bio-user-profile p.biography {
        font-size: 12px;
    }

    .section-user-profile .bio-user-profile p.user-email {
        font-size: 12px;
    }

    .section-user-profile .bio-user-profile {
        padding: 0.7rem 1rem;
    }

    
    .section-user-profile .picture-user-profile{
        width: 120px;
        height: 120px;
        left: calc(50% - 58px);
    }

    .section-user-profile .options-list li button {
        padding: 3px 9px;
        font-size: 10px;
    }
}