@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--yellow: #FFBD13;
	--green: #A3B18A;
	--green-d-1: #96a779;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #F5E7D2;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

body {
    background-color: #F5E7D2;
    background-image: url(http://localhost:8000/img/galles.jpg);
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	padding: 1rem;
}






.wrapper {
	background: var(--white);
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
}
.wrapper h3 {
    text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

h3 {
    color: #593d27;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}
 
.star:hover,
.star.hover,
.star.selected {
  color: #FFD700; /* Color dorado cuando el usuario pasa el ratón o selecciona la estrella */
}
.bxs-star {
    color: #FFD700; /* Estrella llena en dorado */
  }
  
@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--green);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--green-d-1);
}
.btn-group .btn.cancel {
	background: var(--white);
	color: var(--green);
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}

@media only screen and (min-width: 1200px) {
    body {
        background-image: url('http://localhost:8000/img/galles.jpg'); 
    }
}

/* Comentarios */
#commentsSection {
margin-top: 30px;
}

.comment {
position: relative;
background-color: #f9f9f9;
border: 1px solid #ddd;
border-radius: 8px;
padding: 15px;
margin-bottom: 15px;
}

.comment-actions {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.comment p {
font-size: 14px;
color: #333;
margin-bottom: 5px;
}

.comment .rating {
font-size: 18px;
color: #FFD700;
}

.comment .rating .star {
color: #FFD700; /* Estrellas doradas para la calificación */
}

.comment .author {
font-weight: bold;
font-size: 16px;
}

.comment .date {
font-size: 12px;
color: #777;
}

.comment .delete-btn {
color: #f44336;
font-size: 14px;
cursor: pointer;
}

.edit-icon, .delete-icon {
    cursor: pointer;
    font-size: 20px; 
    padding: 5px;
}

.edit-icon:hover, .delete-icon:hover {
    color: #007bff;
}
